name: docs
on:
  push:
    tags:
    - v*
    branches:
    - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: astral-sh/setup-uv@v7
      - run: just git-config-global
      - run: just deploy-docs
